body{
    padding: 50px;
    background-color: #F4F4F4;
    font-family: 'Poppins', sans-serif;
}

.margin{
    margin: 5pt;
}

.btn{
    display:inline-block;
	cursor:pointer;
	text-decoration:none;
}

.try1 ,.try2:hover {
	background-color:#ffffff;
	border-radius:79px;
	border:4px solid #FFCD24;
	color:#33393D;
    font-size:17px;
    font-weight: 600;
	padding:6px 40px;
}

.try2 ,.try1:hover {
	background-color:#FFCD24;
	border-radius:79px;
	border:4px solid #FFCD24;
	color:#ffffff;
    font-size:17px;
    font-weight: 600;
	padding:6px 40px;
}

.started1 ,.started2:hover {
	background-color:#ffffff;
	border:4px solid #FFCD24;
	color:#33393D;
    font-size:17px;
    font-weight: 600;
	padding:5px 20px;
}

.started2 ,.started1:hover {
	background-color:#FFCD24;
	border:4px solid #FFCD24;
	color:#ffffff;
    font-size:17px;
    font-weight: 600;
	padding:5px 20px;
}

.source1 ,.source2:hover {
    background-color:#AFAFAF;
    border:4px solid #AFAFAF;
    color:#ffffff;
    border-radius:79px;
    font-size:17px;
    font-weight: 600;
	padding:5px 20px;
}

.source2 ,.source1:hover {
	background-color:#ffffff;
	border:4px solid #AFAFAF;
    color:#AFAFAF;
    border-radius:79px;
    font-size:17px;
    font-weight: 600;
	padding:5px 20px;
}

.more1 ,.more2:hover {
    background-color:#666B6E;
    border:4px solid #666B6E;
    color:#ffffff;
    border-radius:79px;
    font-size:17px;
    font-weight: 600;
	padding:5px 20px;
}

.more2 ,.more1:hover {
	background-color:#ffffff;
	border:4px solid #666B6E;
    color:#666B6E;
    border-radius:79px;
    font-size:17px;
    font-weight: 600;
	padding:5px 20px;
}

.upload-area{
    width: 240pt;
    height: 360pt;
    border:5px solid #666B6E;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-circle{
    border:5px solid #FFCD24;
    width: 187.5pt;
    height: 187.5pt;
    border-radius: 50%;
}

.upload-circle-shadow{
    border:5px solid #000000a9;
    width: 187.5pt;
    height: 187.5pt;
    border-radius: 50%;
    z-index: -10;
    position: absolute;
    top: 140px;
    filter: blur(6px);
}

.upload-photo{
    width: 130pt;
    height: 130pt;
}

.upload{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upload-text{
    color: #FFCD24;
    font-weight: 600;
}
