html{
    height: 100%;
    margin: 0;
}

body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.recommendation-form{
    padding: 50px;
}

.margin{
    margin: 5pt;
}

.btn{
    display:inline-block;
	cursor:pointer;
	text-decoration:none;
}

.try1 ,.try2:hover {
	background-color:#ffffff;
	border-radius:79px;
	border:4px solid #FFCD24;
	color:#33393D;
    font-size:17px;
    font-weight: 600;
	padding:6px 40px;
}

.try2 ,.try1:hover {
	background-color:#FFCD24;
	border-radius:79px;
	border:4px solid #FFCD24;
	color:#ffffff;
    font-size:17px;
    font-weight: 600;
	padding:6px 40px;
}

.started1 ,.started2:hover {
	background-color:#ffffff;
	border:4px solid #FFCD24;
	color:#33393D;
    font-size:17px;
    font-weight: 600;
	padding:5px 20px;
}

.started2 ,.started1:hover {
	background-color:#FFCD24;
	border:4px solid #FFCD24;
	color:#ffffff;
    font-size:17px;
    font-weight: 600;
	padding:5px 20px;
}

.source1 ,.source2:hover {
    background-color:#AFAFAF;
    border:4px solid #AFAFAF;
    color:#ffffff;
    border-radius:79px;
    font-size:17px;
    font-weight: 600;
	padding:5px 20px;
}

.source2 ,.source1:hover {
	background-color:#ffffff;
	border:4px solid #AFAFAF;
    color:#AFAFAF;
    border-radius:79px;
    font-size:17px;
    font-weight: 600;
	padding:5px 20px;
}

.more1 ,.more2:hover {
    background-color:#666B6E;
    border:4px solid #666B6E;
    color:#ffffff;
    border-radius:79px;
    font-size:17px;
    font-weight: 600;
	padding:5px 20px;
}

.more2 ,.more1:hover {
	background-color:#ffffff;
	border:4px solid #666B6E;
    color:#666B6E;
    border-radius:79px;
    font-size:17px;
    font-weight: 600;
	padding:5px 20px;
}

.upload-area{
    width: 240pt;
    height: 360pt;
    border:5px solid #666B6E;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-circle{
    border:5px solid #FFCD24;
    width: 187.5pt;
    height: 187.5pt;
    border-radius: 50%;
}

.upload-circle-shadow{
    border:5px solid #000000a9;
    width: 187.5pt;
    height: 187.5pt;
    border-radius: 50%;
    z-index: -10;
    position: absolute;
    top: 140px;
    filter: blur(6px);
}

.upload-photo{
    width: 130pt;
    height: 130pt;
}

.upload{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upload-text{
    color: #FFCD24;
    font-weight: 600;
}

#meet{
    color: #FFCD24;
    font-weight: 500;
    font-size: 1.5rem;
}

#personal-designer-text{
    color: #33393D;
    font-weight: 600;
    font-size: 1.5rem;
}

.results-title{
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 35px;
}

.flex-display{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.results{
    flex: 1 1 auto;
    background-color: #EAE9E9;
    display: flex;
    padding-right: 50px;
}

.list{
    padding: 0px;
}

.product-details{
    background-color: #ffffff;
    border-radius: 25px;
    flex: auto;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 35px;
    margin: 15px;
}

.result-details{
    background-color: #ffffff;
    border-radius: 10px;
    height: 150px;
    flex: auto;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 15px;
}

.result-image{
    border-radius: 5px;
    height: 90%;
    margin: 10px;
    align-self: center;
}

.product-name{
    color: #33393D;
    font-weight: 600;
}

.product-category{
    color: #33393D;
}

.product-dimensions{
    color: #33393D;
}

.dimensions{
    color: #33393D;
    font-weight: 600;
}

.product-price{
    color: #FFCD24;
    font-weight: 600;
}

.product-supplier{
    color: #666B6E;
    font-weight: 600;
}

.product-description{
    border-right: 1px solid #707070;
}

.results-actions{
    justify-content: center!important;
    display: flex;
    flex-direction: column;
}

.uploaded-image{
    border-radius: 45px;
    border:6px solid #666B6E;
    width: 90%;
    margin: 10px;
    align-self: center;
}

.input-cols{
    flex-grow: 10;
    margin-top: 10pt;
    padding-right: 0;
    padding-left: 0;
}

.input-fields{
    width: 100%;
}
